* {
  margin: 0; 	
  padding: 0;
  background-color: #3FADE4;
}
  *, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;         
  box-sizing: border-box;
}
main {
  display: flex;   
  justify-content: center;
} 
#corpo {
  height: 300px;
  width: 200px;
  border-radius: 10% 10% 100% 100%;
  margin-top: 200px;
  background-color: white;

}
#cabeca {
  width: 200px;
  height: 150px;
  background-color: white;
  position: absolute;
  border-radius: 100%;
  margin-top: 140px;
  animation: cabeca 5s forwards ease-in-out;
}

#olho1 {
  width: 40px;
  height: 40px;
  background-color: #0584e8;
  border-radius: 100% 10%;
  position: absolute;
  margin-top: 180px;
  margin-left: 50px;
  opacity: 0;
  animation: olho1 5s forwards ease-in-out;
  
}
#olho2 {
  width: 40px;
  height: 40px;
  background-color:#0584e8;
  border-radius: 100% 10%;
  position: absolute;
  margin-top: 180px;
  margin-right: 50px;
  transform: rotate(90deg);
  opacity: 0;
  animation: olho2 5s forwards ease-in-out;
}
#linha {
  width: 150px;
  height: 100px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  border-radius: 100%;
  margin-top: 150px;
  animation: linha 5s forwards ease-in-out;
  
}
#mao1 {
  width: 50px;
  height: 200px;
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  position: absolute;
  margin-top: 230px;
  margin-right: 130px;
  animation: mao2 5s forwards ease-out;
  animation-delay: 5s;
}
#mao2 {
  width: 50px;
  height: 200px;
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  position: absolute;
  margin-top: 230px;
  margin-left: 130px;
  animation: mao1 5s forwards ease-out;
  animation-delay: 5s;
}
#pe1 {
  width: 200px;
  height: 50px;
  border-radius: 100%;
  background-color: #D0D0D0;
  position: absolute;
  transform: rotate(180deg);
  margin-top: 510px;
}


@keyframes mao1 {
  100%{
    transform: translateX(70px);

  }
}
@keyframes mao2 {
  100%{
    transform: translateX(-70px);

  }
}
@keyframes cabeca {
  to {
    margin-top: 30px;
  }
}
@keyframes olho1 {
  to {
    opacity: 1;
    margin-top: 80px;
  }
}
@keyframes olho2 {
  to {
    margin-top: 80px;
    opacity: 1;
  }
}
@keyframes linha {
  to {
    margin-top: 50px;
  }
}
